.button {
  --padding-block: 1.125rem;
  --padding-inline: 1.4rem;

  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.25rem;
  justify-content: center;
  padding: var(--padding-block) var(--padding-inline);
  transition: background 0.15s ease-in-out;
  width: max-content;
}

[data-shape="rounded"] {
  border-radius: 1.875rem;
}

[data-variant="outlined"] {
  border: 0.187rem solid var(--clr-green-450);

  &[data-theme="secondary"] {
    border-color: var(--clr-neutral-200);
  }
}

[data-variant="filled"] {
  background: var(--clr-green-100);

  &[data-theme="secondary"] {
    background: var(--clr-neutral-100);
  }
}

[data-block] {
  width: 100%;
}

[data-underline] {
  text-decoration: underline;
}

[data-color="white"] {
  color: var(--clr-neutral-100);
}

[data-color="black"] {
  color: var(--clr-neutral-900);
}

[data-color="grey"] {
  color: var(--clr-neutral-500);
}

[data-color="green"] {
  color: var(--clr-green-450);
}

[data-color="teal"] {
  color: var(--clr-green-700);
}

/* events */
.button:hover {
  &[data-shape="rounded"] {
    background: var(--clr-green-100);

    &[data-theme="secondary"] {
      background: var(--clr-neutral-200);
    }
  }
}

.button:active {
  &[data-shape="rounded"] {
    background: var(--clr-green-450);
  }
}
