.formSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block-start: 2rem;
    margin-block-end: 5rem;
}
@media (max-width: 1024px) {
    .formSection {
        flex-direction: column;
    }
}
