.hero {
  align-items: center;
  display: grid;
  min-height: 103vh;
  overflow: hidden;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-inline: auto;
  max-width: 1440px;
  padding-block: 1.5rem;
  width: 100%;
}

.title {
  font-size: calc(64px * 1.2);
  line-height: 94.76%;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'clig' off, 'liga';
  margin-block-start: 8.5rem;
}

.blobWrapper {
  aspect-ratio: 0.98;
  background-image: url('/images/hero-bg.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -15%;
  z-index: -1;
  width: 64%;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: clamp(1.5rem, 5vw, 4rem);
    line-height: 120%;
  }

  .blobWrapper {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    align-items: flex-start;
    min-height: 60vh;
  }

  .title {
    font-size: clamp(1.5rem, 7vw, 4rem);
    font-weight: 700;
    line-height: 120%;
    margin-block-start: 3rem;
    text-wrap: pretty;
    width: 50%;
  }

  .title span {
    display: inline;
  }

  .title span:last-child {
    margin-inline: .5rem;
  }

  .button {
    display: none;
  }

  .blobWrapper {
    background-image: url('/images/hero-bg-m.png');
    right: -3%;
    top: 1rem;
    width: 90%;
  }
}