.heading {}

.heading span {
  display: block;
}

[data-font-family="roboto"],
[data-font-family="roboto"]>span {
  font-family: var(--roboto);
}

[data-font-family="changa"],
[data-font-family="changa"]>span {
  font-family: var(--changa);
}

[data-font-weight="regular"] {
  font-weight: 400;
}

[data-font-weight="semi-bold"] {
  font-weight: 600;
}

[data-font-weight="bold"] {
  font-weight: 700;
}