.cardDetails {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 1.25rem;
  box-shadow: 0px 18px 88px rgba(24, 39, 75, 0.14), 0px 8px 28px rgba(24, 39, 75, 0.12);
  display: flex;
  height: 24.75rem;
  margin: 1rem;
  width: 69.125rem;
}

.imgWrapper {
  border-radius: 1.5rem 0 0 1.5rem;
  overflow: hidden;
  width: 36.125rem;
}

.imgWrapper img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  width: 50%;
}

.quote {
  font-size: 20px;
  font-weight: bolder;
  margin-block-end: 8px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  margin-block-end: .3rem;
}

.text {
  color: #5D5D5D;
  font-size: 16px;
  line-height: 24px;
}

.secondary {
  color: var(--clr-neutral-500);
  font-size: 14px;
}

.clientInfo {
  margin-block-start: 1rem;
}