.cardDetails {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 1.25rem;
  box-shadow: 0px 18px 88px rgba(24, 39, 75, 0.14), 0px 8px 28px rgba(24, 39, 75, 0.12);
  display: flex;
  height: 24.75rem;
  margin: 1rem;
  width: 69.125rem;
}

.imgWrapper {
  border-radius: 1.5rem 0 0 1.5rem;
  overflow: hidden;
  width: 36.125rem;
}

.imgWrapper img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2.5rem;
  width: 50%;
}

.quote {
  font-size: 20px;
  font-weight: bolder;
  margin-block-end: 8px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  margin-block-end: .3rem;
}

.text {
  color: #5D5D5D;
  font-size: 16px;
  line-height: 24px;
}

.secondary {
  color: var(--clr-neutral-500);
  font-size: 14px;
}

.clientInfo {
  margin-block-start: 1rem;
}
@media screen and (max-width: 1024px) {
  .cardDetails {
    width: 20rem;
    height: 28rem;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(24, 39, 75, 0.3);
  }
  .imgWrapper {
    border-radius: 1.5rem  1.5rem 0 0;
    width: 100%;
    height: 173px;
    position: relative;
  }
  .imgWrapper img {
    width: 100%;
    height: 100%;
  }
  .content {
    width: 100%;
    height: 17.19rem; /* Aproximadamente 275px */
    justify-content: center;
    padding: 1rem;
  }
  .quote {
    font-size: 16px;
  }
  .text {
    font-size: 12px;
  }
  .title, .secondary {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .cardDetails {
    position: relative;
    width: 15.395rem;
    height: 24.46rem;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(24, 39, 75, 0.3);
  }
  .imgWrapper {
    border-radius: 1.5rem  1.5rem 0 0;
    width: 100%;
    height: 146px;
  }
  .imgWrapper img {
    height: 146px;
    width: 100%;
  }
  .content {
    width: 100%;
    height: 245.36px;
    justify-content: center;
    padding: 1rem;
  }
  .clientInfo {
    margin-block: 1rem 0;
  }
  .text {
    line-height: 14.08px;
  }

}