.projectsCard {
    width: fit-content;
    height: 31.9375rem;
    margin: 2rem;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    position: relative;
    border-radius: 20px;
    z-index: 0;
  }
  
  .cardContainer {
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--clr-neutral-0);
    position: relative;
    display: flex;
    border-radius: 20px;
    z-index: 100;
  }
  
  .normal {
    flex-direction: row;
  }
  
  .reversed {
    flex-direction: row-reverse;
  }
  
  .infoWrapper,
  .reversed .imageWrapper {
    width: 38.1875rem;
    height: 100%;
    background-color: var(--clr-neutral-0);
    padding-block-start: 12.375rem;
    padding-block-end: 10rem;
    padding-inline-start: 2rem;
    padding-inline-end: 86.61px;
    border-radius: 20px;
    left: 2rem;

    position: relative;
    z-index: 100;
  }
  
  .imageWrapper,
  .reversed .infoWrapper {
    width: 31.9375rem;
    z-index: 1;
    position: relative;
  }
  
  .title {
    font-size: 38px;
  }
  
  .secondary {
    font-size: 1rem;
  }
  
  .actionButtons {
    display: flex;
    flex-direction: row;
    padding-block-start: 1rem;
  }
  
  .btnPrimary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-green-450);
    margin-inline-end: 1rem;
  }
  
  .btnSecondary {
    border-color: var(--clr-neutral-200);
  }

  .imageWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .reversed .infoWrapper {
    width: 31.9375rem;
    left: -2rem;
    z-index: 100 !important;
  }
  
  .reversed .imageWrapper {
    width: 38.1875rem;
    padding: 0;
    margin: 0;
    z-index: 0;
    left: 0;
  }

  