.cardLarge {
    width: 568px;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cir-green-800);
    padding-inline: .81rem;
    padding-block: 1.88rem;
    border-radius: 20px;
}
.iconWrapper {
    padding-inline: 1.19rem 1.2rem;
    margin-inline-end: .81rem;
    display: flex;
    align-items: center;
}
.iconWrapper img {
    width: 2.61456rem;
    height: 2.42138rem;
}
.contentWrapper {
    color: var(--clr-neutral-0);
}

@media (max-width: 1024px) {
    .cardLarge {
        width: 325px;
        height: 89px;
        padding-inline: 0 0.75rem;
        padding-block: 0.75rem;
    }
    .iconWrapper {
        width: 4rem;
        height: 4rem;
        margin-inline: 0 1.2rem;
        padding-inline: 1.2rem 1.2rem;
    }

    .contentWrapper {
        font-size: 12px;
    }
}