.contactCointainer {
    width: 600px;
    height: 600px;
    background-color: var(--cir-green-800);
    color: var(--clr-neutral-0);
    padding-inline: 6rem 2rem;
    padding-block:  6rem;
    border-radius: 1rem 0 0 1rem;

}
.content {
    width: 384px;
    padding-block: 0 4.6rem;
}
.title {
    font-size: 36px;
    margin-block: 0 1.5rem;
    line-height: 40px;
}
.subtitle {
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}
.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--cir-neutral-100);
}
.contactItems {
    padding-block: 0 2.6rem;
}
.socialMedias {
    display: flex;
    flex-direction: column;
}
.socialMedias .subtitle {
    margin-block-end: .5rem;
}
.socialMedias .socialMediaIcons {
    display: flex;
}