.cardsSection {
  padding-inline: 1rem;
}

.headline {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 111%;
  margin-block-end: 1.6rem;
}

.description {
  line-height: 150%;
  margin-block-end: 2.5rem;
}

.headline,
.description {
  text-align: center;
}

.cardsWrapper {
  background: var(--clr-neutral-800);
  display: grid;
  gap: 4.75rem;
  grid-template-columns: repeat(3, minmax(150px, 350px));
  justify-content: center;
  row-gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .cardsWrapper {
    gap: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, minmax(150px, 350px));
  }
}

@media screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}