@import url("https://fonts.googleapis.com/css2?family=Changa:wght@600;700&family=Roboto:wght@400;600;700&display=swap");
@import "variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: var(--roboto);
  color: var(--clr-neutral-900);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
