:root {
  --clr-blue-800: #243a6e;

  --clr-red-450: #944a4a;
  --clr-red-750: #810000;

  --clr-green-450: #8fbf22;
  --clr-green-450-t: #8fbf2263;
  --clr-green-700: #276f72;
  --clr-green-900: #152323;

  --changa: "Changa", sans-serif;
  --roboto: "Roboto", sans-serif;
}
