:root {
  --clr-blue-800: #243a6e;

  --clr-red-450: #944a4a;
  --clr-red-750: #810000;

  --clr-green-100: #cbdda0;
  --clr-green-450: #8fbf22;
  --clr-green-450-t: #8fbf2263;
  --clr-green-700: #276f72;
  --clr-green-900: #152323;

  --clr-neutral-100: #fafafa;
  --clr-neutral-200: #e1e4ed;
  --clr-neutral-500: #5d5d5d;
  --clr-neutral-900: #1e1e1e;

  --changa: "Changa", sans-serif;
  --roboto: "Roboto", sans-serif;
}
