.projectsSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 5rem;
  padding-inline: 1rem;
  position: relative;
}

.projectsBackground {
  background: var(--clr-green-900);
  height: 105%;
  inset: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.projectsBackground img {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-style: italic;
  height: auto;
  left: 0;
  max-width: 100%;
  position: absolute;
  shape-margin: .75rem;
  vertical-align: middle;
  width: 100%;
}

.projectsBackground img:nth-child(1) {
  translate: 0 -99%;
}

.projectsBackground img:nth-child(2) {
  bottom: 0;
  translate: 0 99%;
}

.aboutSection,
.servicesSection {
  margin-block-start: 5rem;
  margin-block-end: 10rem;
}

@media screen and (max-width: 1024px) {

  .aboutSection,
  .servicesSection {
    margin-block-start: 1rem;
    margin-block-end: 10rem;
  }
}